body {
    padding-top: 75px;
  }

  .imgMain {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .quantity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: inherit;
  }
  
  .quantity input {
    width: 2rem;
    text-align: center;
  }
  
  .quantity button {
    background: none;
    border: none;
    width: 1rem;
    outline: none;
  }

  .blue {
    background-color: #92a8d1;
  }